<!DOCTYPE html>
<html>
<head>
  <title>San Diego Cocktail Book Project</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://snootybird.net/"/>
  <meta property="og:title" content="Snooty Bird Publishing"/>
  <meta property="og:description" content="Publishers of traditional and digital media."/>
  <meta property="og:image" content="<%= asset_url('facebook-link-image.png') %>"/>
</head>
<body class="title-body">

	<div class="jumbotron drink-title browser-height" style="height: 100%;">

		<div class="navbar navbar-default navbar-transparent" role="navigation">
			<div class="container">
				<div class="navbar-header">
		      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
					</button>
		      	</div>
		      	<div class="collapse navbar-collapse" id="navbar-collapse">
			        <ul class="nav navbar-nav pull-right">
						<li><a href="http://blog.whatdididrink.com/">Blog</a></li>
						<li><a href="http://j.mp/whatwedrinkbook">Buy our Book!</a></li>
					</ul>
				</div>
		    </div>
		</div>

		<div class="container">
			<div class="one-tenth-height"></div>
			<div>
				<%= image_tag "snooty-bird-circle-medium.png", :class => "image-center" %>
			</div>
			<div>
				<p class="title-text">Snooty Bird</p>
			</div>
		</div>
	</div>
	
	<div class="container browser-height">
		<div class="row rowspace50">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center">our vision</h2>

				<p>Some text to go here...</p>
			</div>
		</div>
	</div>
	
	<div class="footer" id="footer">
		<div class="footer-content container">
			<div class="col-md-6">
				<p><small>Copyright &copy; 2016, Snooty Bird, LLC</small></p>
			</div>
			<div class="col-md-6 text-right">
				<p><small>For questions and information, please contact <a href="mailto:jeff@jeffreynichols.com">Jeff</a>.</small></p>
			</div>
		</div>
	</div>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-51633029-1', 'sdcocktailbook.com');
	  ga('send', 'pageview');

	</script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
</body>
</html>
