<!DOCTYPE html>
<html>
<head>
  <title>San Diego Cocktail Book Project</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://sdcocktailbook.com/"/>
  <meta property="og:title" content="San Diego Cocktail Book Project"/>
  <meta property="og:description" content="Celebrating the wealth and breadth of San Diego cocktail culture with contributions from area bartenders."/>
  <meta property="og:image" content="<%= asset_url('facebook-link-image.png') %>"/>
</head>
<body>

	<div class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
	      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
				</button>
	      	</div>
	      	<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li><%= link_to "Home", root_url %></li>
				</ul>
		        <ul class="nav navbar-nav pull-right">
					<% if current_user != nil -%>
			          	<li><%= link_to "My Cocktails", cocktails_path %></li>
						<% if current_user.admin? -%>
							<li><%= link_to "Admin", admin_path %></li>
						<% end -%>
					<% end -%>
					<li><a href="http://blog.whatdididrink.com/">Blog</a></li>
				    <% if current_user == nil -%>
					  <li><%= link_to "Login", login_path %></li>
				    <% else -%>
					  <li><%= link_to "Logout", logout_path %></li>
				    <% end -%>
				</ul>
	      	</div>
	    </div>
	</div>    

	<div class="container">
		<%= yield %>
	</div>

	<div class="footer" id="footer">
		<div class="footer-content container">
			<div class="col-md-6">
				<p><small>Copyright &copy; 2014, Snooty Bird, LLC</small></p>
			</div>
			<div class="col-md-6 text-right">
				<p><small>For questions and information, please contact <a href="mailto:jeff@jeffreynichols.com">Jeff</a>.</small></p>
			</div>
		</div>
	</div>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-51633029-1', 'sdcocktailbook.com');
	  ga('send', 'pageview');

	</script>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
</body>
</html>
